{% if fields.testo_intro_servizi|length %}
<section id="textSection" class="section">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-lg-6 text-center">
				<div>
					<p>{{ fields.testo_intro_servizi }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
