<style type="text/css">
	body {margin: 0}
	.coming {position: relative;height: 100vh;background-color: #f5f5f5}
	.coming div {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
	.coming div img {max-width: 150px}
}
</style>


<div class="coming">
	<div><img src="http://new-site.bebit.it/content/logo_bebit_blue.png" alt="Bebit"></div>
</div>