{% if press.thumbnail.src|length %}
<section id="headerPress" class="section">
  <div class="header-press background" style="background-image:url({{ press.thumbnail.src }})"></div>
</section>
{% endif %}
