<div class="container">
	 <div class="row">
	 	<div class="col-lg-4 col-md-3">
			<div class="logo_footer"><a class="hdr-logo-link" href="/" rel="home"><img src="/content/logo_bebit_blue.png"></a></div>
		</div>
		<div class="col-lg-8 col-md-9">
			<div class="copy">
				<p>© 2020 Bebit srl All rights reserved</p>
				<ul class="list_horizontal">
					<li>P.I 11215720019</li>
					<li><a href="{{site.url}}/privacy-policy" class="link_privacy" title="Privacy Policy">Privacy policy</a></li>
					<li><a href="{{site.url}}/cookie-policy" class="link_privacy" title="Cookie policy">Cookie policy</a></li>
					<li><a href="mailto:info@bebit.it" title="info@bebit.it">info@bebit.it</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
