{% if title|length %}
<section id="titleCosaFacciamo">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="title_section">{{ title }}</h1>
			</div>
		</div>
	</div>
</section>
{% endif %}
