{% if text.testo_chisiamo|length %}
<section id="textCosaFacciamo" class="section wow fadeIn" data-wow-delay="200ms">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-lg-8 text-center">
					<p>{{ text.testo_chisiamo }}</p>
			</div>
		</div>
	</div>
</section>
{% endif %}
